# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
env/
venv/
ENV/
env.bak/
venv.bak/

# Streamlit
.streamlit/secrets.toml

# IDE and Editor files
.idea/
.vscode/
*.swp
*.swo
*~
.project
.pydevproject
.settings/
.DS_Store

# Jupyter Notebook
.ipynb_checkpoints

# Testing
.coverage
.pytest_cache/
htmlcov/

# Logs
logs/
*.log

# Environment variables
.env
.env.local

# Specific to this project
*.jpg
*.jpeg
*.png
deepface_models/

# Distribution / packaging
.Python
dist/
downloads/
eggs/
.eggs/

# Temporary files
temp/
tmp/

# Model files
*.h5
*.pkl
*.joblib
